<p>
    Сообщение с сайта
    <a href="http://bbp.ru/"> bbp.ru </a>
</p>

<br>

<p>ФИО: {{ name }},</p>

<p>Телефон: {{ phone }}</p>

<p>Email: {{ email }}</p>

<p>
    <b>Текс сообщения:</b> <br>
    {{ question }}
</p>

